<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>auth</title>
    <style>
        .buttons {
            margin: 40px;
        }
    </style>
</head>

<body>
    <h1>Register Yourself - </h1>
    <div class="buttons">
        <button><a href="/">Home</a></button>
        <button><a href="/user/login">login</a></button>
    </div>
    <form action="/user/signup" method="post">
        <input type="text" placeholder="Enter your name: " name="name">
        <input type="text" placeholder="Enter your Email: " name="email">
        <input type="text" placeholder="Enter your Password: " name="password">
        <button type="submit">submit</button>
    </form>
</body>

</html>